includes:
	- ../vendor/phpstan/phpstan-phpunit/extension.neon
	- ../vendor/phpstan/phpstan-beberlei-assert/extension.neon
	- ../vendor/phpstan/phpstan-phpunit/rules.neon
	- ../vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    excludes_analyse:
        - database/*
        - routes/*
    ignoreErrors:
        # PhpStan doesn't respect PhpUnit official guidelines
        - '#static method PHPUnit.Framework#'